In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv("Train_Data.csv")

In [3]:
df

            age     sex        bmi smoker     region  children       charges
0     21.000000    male  25.745000     no  northeast         2   3279.868550
1     36.976978  female  25.744165    yes  southeast         3  21454.494239
2     18.000000    male  30.030000     no  southeast         1   1720.353700
3     37.000000    male  30.676891     no  northeast         3   6801.437542
4     58.000000    male  32.010000     no  southeast         1  11946.625900
...         ...     ...        ...    ...        ...       ...           ...
3625  48.820767  female  41.426984     no  northwest         4  10987.324964
3626  38.661977  female  26.202557     no  southeast         2  11735.844352
3627  56.000000    male  40.300000     no  southwest         0  10602.385000
3628  48.061207  female  34.930624     no  southeast         1   8976.140452
3629  37.598865  female  25.219233     no  northeast         3   7027.698968

[3630 rows x 7 columns]

In [4]:
new_row = {'age': 33.000, 'sex': 'male', 'bmi': 25.745000,"smoker":"no","region":"northeast","children":2,"charges":3279.868550}

# Append the new row to the DataFrame
df = df.append(new_row, ignore_index=True)

# Display the DataFrame with the added row
print("\nDataFrame with Added Row:")
print(df)

DataFrame with Added Row:
            age     sex        bmi smoker     region  children       charges
0     21.000000    male  25.745000     no  northeast         2   3279.868550
1     36.976978  female  25.744165    yes  southeast         3  21454.494239
2     18.000000    male  30.030000     no  southeast         1   1720.353700
3     37.000000    male  30.676891     no  northeast         3   6801.437542
4     58.000000    male  32.010000     no  southeast         1  11946.625900
...         ...     ...        ...    ...        ...       ...           ...
3626  38.661977  female  26.202557     no  southeast         2  11735.844352
3627  56.000000    male  40.300000     no  southwest         0  10602.385000
3628  48.061207  female  34.930624     no  southeast         1   8976.140452
3629  37.598865  female  25.219233     no  northeast         3   7027.698968
3630  33.000000    male  25.745000     no  northeast         2   3279.868550

[3631 rows x 7 columns]

In [4]:
df['sex']=df['sex'].map({'male':1,'female':0})
df['smoker']=df['smoker'].map({'no':1,'yes':0})

In [5]:
df

            age  sex        bmi  smoker     region  children       charges
0     21.000000    1  25.745000       1  northeast         2   3279.868550
1     36.976978    0  25.744165       0  southeast         3  21454.494239
2     18.000000    1  30.030000       1  southeast         1   1720.353700
3     37.000000    1  30.676891       1  northeast         3   6801.437542
4     58.000000    1  32.010000       1  southeast         1  11946.625900
...         ...  ...        ...     ...        ...       ...           ...
3625  48.820767    0  41.426984       1  northwest         4  10987.324964
3626  38.661977    0  26.202557       1  southeast         2  11735.844352
3627  56.000000    1  40.300000       1  southwest         0  10602.385000
3628  48.061207    0  34.930624       1  southeast         1   8976.140452
3629  37.598865    0  25.219233       1  northeast         3   7027.698968

[3630 rows x 7 columns]

In [6]:
df.dtypes

age         float64
sex           int64
bmi         float64
smoker        int64
region       object
children      int64
charges     float64
dtype: object

In [7]:
df["region"].unique()

array(['northeast', 'southeast', 'northwest', 'southwest'], dtype=object)

In [8]:
df['region']=df['region'].map({'northeast':1,'southeast':0,"northwest":2,"southwest":3})

df["region"].unique()
df

            age  sex        bmi  smoker  region  children       charges
0     21.000000    1  25.745000       1       1         2   3279.868550
1     36.976978    0  25.744165       0       0         3  21454.494239
2     18.000000    1  30.030000       1       0         1   1720.353700
3     37.000000    1  30.676891       1       1         3   6801.437542
4     58.000000    1  32.010000       1       0         1  11946.625900
...         ...  ...        ...     ...     ...       ...           ...
3625  48.820767    0  41.426984       1       2         4  10987.324964
3626  38.661977    0  26.202557       1       0         2  11735.844352
3627  56.000000    1  40.300000       1       3         0  10602.385000
3628  48.061207    0  34.930624       1       0         1   8976.140452
3629  37.598865    0  25.219233       1       1         3   7027.698968

[3630 rows x 7 columns]

In [10]:
import pandas as pd
from IPython.display import FileLink

# Create a sample DataFrame (replace this with your data)
df = pd.DataFrame(df)

# Save the DataFrame to a CSV file
csv_filename = 'sample_data.csv'
df.to_csv(csv_filename, index=False)

# Display a link to download the CSV file
display(FileLink(csv_filename))

C:\Users\vega ramesh\Desktop\project today\Medical _insurance_charges\sample_data.csv

In [16]:
df1=pd.read_csv("sample_data1 (3).csv" sep=;)
df1

SyntaxError: invalid syntax (<ipython-input-16-4fbf27c991ef>, line 1)

In [17]:
import pandas as pd

# Read the CSV file with proper separator
df1 = pd.read_csv("sample_data1 (3).csv", sep=';')

# Display the DataFrame
print(df1)

             age,sex,bmi,smoker,region,children,charges
0                        21.0,1,25.745,1,1,2,3279.86855
1     36.976977997199505,0,25.74416484562688,0,0,3,2...
2                          18.0,1,30.03,1,0,1,1720.3537
3      37.0,1,30.67689126759323,1,1,3,6801.437541833969
4                         58.0,1,32.01,1,0,1,11946.6259
...                                                 ...
3625  48.82076712070131,0,41.42698410896831,1,2,4,10...
3626  38.66197698720405,0,26.202556567978252,1,0,2,1...
3627                        56.0,1,40.3,1,3,0,10602.385
3628  48.061206688055954,0,34.93062394188392,1,0,1,8...
3629  37.59886461367829,0,25.219233269759325,1,1,3,7...

[3630 rows x 1 columns]

In [18]:
from IPython.display import FileLink

# Create a sample DataFrame (replace this with your data)

# Save the DataFrame to a CSV file
csv_filename = 'sample_data1.csv'
df1.to_csv(csv_filename, index=False)

# Display a link to download the CSV file
display(FileLink(csv_filename))

C:\Users\vega ramesh\Desktop\project today\Medical _insurance_charges\sample_data1.csv

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from IPython.display import display
import ipywidgets as widgets

# Load your dataset
csv_file = 'your_dataset.csv'  # Replace with the actual path to your dataset
df = pd.read_csv(csv_file)

# Define the features and target
X = df.drop('target_column', axis=1)  # Replace 'target_column' with your actual target column name
y = df['target_column']

# Train a model
model = DecisionTreeClassifier()
model.fit(X, y)

# Create widgets
input_widgets = {}
for column in X.columns:
    input_widgets[column] = widgets.Text(description=column)

# Function to predict on button click
def predict(btn):
    input_data = [float(input_widgets[column].value) for column in X.columns]
    prediction = model.predict([input_data])
    print("Predicted target:", prediction)

# Create a prediction button
predict_button = widgets.Button(description="Predict")
predict_button.on_click(predict)

# Display input widgets and button
input_widgets_list = [widget for widget in input_widgets.values()]
display(*input_widgets_list, predict_button)

FileNotFoundError: [Errno 2] No such file or directory: 'your_dataset.csv'

In [7]:
import tkinter as tk
from tkinter import messagebox

# Function to retrieve input value and validate
def get_input():
    entered_value = input_field.get()
    if entered_value.strip() == "":
        messagebox.showwarning("Warning", "Please fill the input box.")
    else:
        print("Entered value:", entered_value)

# Create the main application window
root = tk.Tk()
root.title("Input Example")

# Create a label
label = tk.Label(root, text="Enter a value:")
label.pack()

# Create an input field (Entry widget)
input_field = tk.Entry(root)
input_field.pack()

# Create a button to retrieve input
button = tk.Button(root, text="Get Input", command=get_input)
button.pack()

# Start the main event loop
root.mainloop()